body{
    background-color: rgba(0, 0, 0, 0.878);
}
.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1{
    font-size: 4rem;
    color: white;
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color o.5 ease;
}
.add-button{
    background-color: hsl(125, 84%, 41%);
    margin-left: 10px;
}
.add-button:hover{
    background-color: hsl(125, 88%, 50%);
}
.delete-button{
    background-color: hsl(0, 90%, 42%);
}
.delete-button:hover{
    background-color: hsl(0 , 90% , 54%);
}
.move-button{
    background-color: hsl(0, 0%, 77%);
}
.move-button:hover{
    background-color: hsl(220, 5%, 88%)
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: hsla(0,0%,0%,0.8);
}
ol{
    padding: 0;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsla(0, 0%, 0%, 0.821);
    margin-bottom: 10px;
    border: 3px solid hsl(0, 0%, 47%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: white;
}
.text{
    flex: 1;
}
.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}